* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth; 
}

body {
	font-family: Arial, sans-serif;
}
.navbarr {
    background-color:#FFF5EE;
    padding: 20px;
}

.menuu {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.menuu li {
    margin: 0 15px;
}

.menuu a {
    color: #333333;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    transition: background-color 0.3s ease;
   
}

.menuu a:hover {
    background-color: #FFE4E1;
    border-radius: 4px;
  
}
header {
    position: fixed; /* Фиксирует меню */
    top: 0; /* Устанавливает меню в верхней части экрана */
    left: 0; /* Устанавливает меню слева */
    width: 100%; /* Заставляет меню занимать всю ширину экрана */
    background-color: #333; /* Цвет фона */
    z-index: 1000; /* Устанавливает меню над другими элементами */
}
.foto {
    margin-left: 150px;
    margin-top: 180px;
}
.foto1 {
    width: 600px;
    height: 370px;
}

.container {
 display: flex; /* Включает Flexbox */
    align-items: center; /* Выравнивает элементы по вертикали */
    gap: 30px; /* Расстояние между изображением и текстом */
}
.text {
  flex: 1;
  margin-bottom: -180px;
}
p {
    font-size: 1rem; /* Размер текста */
    line-height: 1.5; /* Межстрочное расстояние */
}
.stats-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    background-color: #fff; /* Цвет фона */
    color: #000; /* Цвет текста */
    margin-top: 80px;
}
.stat-item {
    flex: 1;
    text-align: center;
    padding: 10px;
}
.stat-item h1 {
font-size: 2rem;
font-weight: bold;
margin-bottom: 10px;
}
.stat-item hr {
    border: none;
    border-top: solid #000;
    width: 50%;
    margin: 10px auto;
}
.stat-item p {
    font-size: 1rem;
    line-height: 1.5;
    color: #666;
}
footer {
     background-color: #4a3520;
      color: #fff;
    padding: 20px 0;
    margin-top: 100px;
}
.footer-info {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}
.contact, .hour {
    flex: 1;
    margin: 10px;
    background-color: #5c4530;
    padding: 15px;
    border-radius: 8px;
}
.contact a, .social-icon {
    color: #ffcc00;
    text-decoration: none;
}
.contact a:hover, .social-icon:hover {
    text-decoration: underline;
}
.social {
    margin-top: 10px;
}
.hour ul {
    list-style: none;
    padding: 0;
}
.hour li {
    margin-bottom: 5px;
}
.privacy {
    text-align: center;
     padding: 10px;
    background-color: #42251e;
    text-decoration: none;
}
.privacy p {
    margin: 0;
    font-size: 0.9em;
     text-decoration: none;
     list-style: none;
}
.politic {
    text-decoration: none;
    color: #ffcc00;
}
.politic:hover {
      text-decoration: underline;
}